@font-face {
    src: url("assets/Pacifico-Regular.ttf");
    font-family: "Pacifico";
}

* {
    cursor: text;
}

body {
    font-family: Pacifico;
    font-size: 5vh;
    user-select: none;
}

h1 {
    text-align: center;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translateY(-50%) translateX(-50%);
    border: none;
}

#select {
    display: block;
    position: absolute;
    background: rgba(255, 193, 69, 0.15);
    border: 1px solid rgba(255, 193, 69, 0.25);
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}